*{

    font-family: Georgia, Times, 'Times New Roman', serif;

}

body{
    padding: 0px;
    margin: 0px;
}

.titol{

    margin-top: 0px;
    background-color: lightskyblue;
    
}

.titol h1{
    margin-top: 0px;
    font-size: 70px;
    font-weight: bolder;
}

.titol h4{
    
}