div {
    border: solid 1px black;
    border-radius: 10p;
    background-color: lightgreen;
    height: 100px;
    width: 150px;
    margin: 15px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

main{
    display: inline-table;
}